body {
    font-family: 'Roboto Mono', monospace; /* Substitua 'Roboto Mono' pela sua fonte monoespaçada escolhida */
    background-color: #121212; /* Cor de fundo escura */
    color: #fff; /* Cor do texto principal */
}

/* Estilos customizados para centralizar o conteúdo principal */
.content {
    min-height: calc(100vh - 10em); /* Ajuste conforme a altura da navbar */
    display: flex;
    align-items: center;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff; /* Cor dos links na barra de navegação */
}

.navbar-dark .navbar-brand {
    color: #fff; /* Cor do texto da marca */
}

.ms-n5 {
    margin-left: -40px;
}