/* Importação e definição da classe para aplicar a fonte Fira Code */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400&display=swap');

.fira-code {
    font-family: 'Fira Code', monospace;
}

body {
    background-color: #121212;
    color: #fff;
}

.background {
    position:absolute;
    display:block;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.2; /* Ajuste o valor conforme necessário (entre 0 e 1) */
    /* pointer-events: none; */
}

/* Estilo para adicionar linhas separadoras entre os itens da sidebar */
.navbar-nav li a::after {
    content: '';
    display: block;
    height: 1px;
    background-color: #555;
    margin-top: 10px;
}

.search-icon, .navbar-toggler-button, .social-link {
    color: #ffffff;
    transition: color 0.3s ease;
}

.search-icon:hover, .navbar-toggler-button:hover, .social-link:hover {
    color: #555;
}

/* Estilo da sidebar em telas grandes (ex: largura maior que 768px) */
@media (min-width: 768px) {
    .offcanvas {
        width: 300px; /* Largura reduzida para telas grandes */
    }
}

/* Estilos customizados para centralizar o conteúdo principal */
.content {
    min-height: calc(100vh - 10em);
    display: flex;
    align-items: center;
}

.highlight {
    background-color: #555;
    color: #fff;
    padding: 0 3px;
    border-radius: 2px;
}

.cursor {
    display: inline-block;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 50% {
        opacity: 1;
    }
    51%, 100% {
        opacity: 0;
    }
}